footer{
    background-color: hsl(168, 58%, 60%);;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
}

.footer-logo{
    margin-bottom: 50px;
    width: 200px;
    fill: blue;
}

.nav-footer{
    margin-bottom: 50px;
}

.nav-footer a{
    text-decoration: none;
    color: var(--DarkDesaturatedCyan);
    font-family: var(--Font1);
    margin: 0 20px;
}

.nav-footer a:hover{
  color: var(--White);
}

footer div a{
    text-decoration: none;
    color: var(--DarkDesaturatedCyan);
    margin: 0 10px;
}

container-redes{
    display: flex;
}

footer svg{
    fill: var(--DarkDesaturatedCyan);
    margin: 0 10px;
}
footer svg:hover{
    fill: var(--White);
    cursor: pointer;
}


@media (max-width: 375px) {
    footer{
        height: 200px ;
    }
}